# Google Generative AI API Key
API_KEY=

# Server Configuration 
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=health_hive
