.health-risk, .diet-and-fitness {
    display: flex;
    justify-content: center;
  }
  
  #form-container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
  }

  .dropdown-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .conditional-input-container {
    margin-top: 10px;
  }
  
  .error {
    border: 2px solid red;
  }
  

  .conditional-input-container .conditional-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  #nav-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .nav-step {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    margin: 0 5px;
    background-color: #f0f0f0;
    color: #666;
    font-size: 14px;
    cursor: pointer;
  }
  
  .nav-step.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  .form-step {
    display: none;
  }
  
  .form-step.active {
    display: block;
  }

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 150px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-analysis-buttons {
text-align: center;
}
  
  .next-button, .previous-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.submit-button {
 padding: 10px 15px;
  text-align: center;
  background: linear-gradient(to right, #ff0080, #ff8c00);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  box-shadow: 10px 8px 32px 12px rgba(153, 153, 160, 0.37);
}

.analysis-icon {
        font-size: 16px !important;
        margin-right: 5px;
        padding: 0;
}

.next-button::after {
    content: "\25B6";
    margin-left: 5px;
}

.previous-button::before {
    content: "\25C0";
    margin-right: 5px;
}
  
.next-button:hover {
    background-color: #0056b3;
  }
  
  button.previous-button {
    background-color: #10b30d;
  }
  
  button.previous-button:hover {
    background-color: #30822f;
  }

  #result {
    margin-top: 20px;
    padding: 10px;
    background: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }

  label::before {
    content: "\00BB";
    margin-right: 5px;
    font-size: 28px;
    color: red;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input[type="text"], input[type="number"] {
    font-size: 14px;
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
  }

  