.disease-section {
    display: flex;
    justify-content: center;

}
.container-box {
    width: 70%;
    font-size: 18px;
    margin-top: 120px;
    background-color: white;
    max-width: 750px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
    border-radius: 10px;
}

.container-heading {
    background: linear-gradient(to right, #ff0080, #ff8c00);
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}

.container-body {
    margin: 10px auto;
    padding: 20px;
}

.heading-title {
    color: black;
}

.disease-name {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.disease-title {
    font-size: 22px;
    padding: 10px;
    color: #084f66;
}


span.disease-title-icon {
    font-size: 40px !important;
    margin-right: 10px;
    color: red;
}

.disease-image {
    width: 250px;
    height: 250px;
    padding: 20px;
}

.disease-description {
    margin-top: 10px;
}

.lists {
    margin-left: 60px;
}

.disclaimer-text {
    color: red;
    margin-top: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .disease-title {
        width: 80%;
    }

    .disease-section .container {
        width: 95%;
    }
}
