.prescription-analysis {
    display: flex;
    justify-content: center;
  
  }
  
  .upload-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  input[type="file"] {
    display: block;
    margin: 10px 0;
  }
  
  .dropzone {
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .camera-btn {
    background-color: #053e83;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 7px;
  }
  
  .submit-btn {
    padding: 10px;
    text-align: center;
    /* background-color: #053e83; */
    background: linear-gradient(to right, #ff0080, #ff8c00);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15.5px;
    margin-top: 20px;
    box-shadow: 10px 8px 32px 12px rgba(153, 153, 160, 0.37);
  }
  
  #captureButton {
    color: #ffffff;
    text-decoration: none;
    padding: 7px 10px;
    background-color: #10b30d;
    font-size: 13.5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  #captureButton:hover {
    background-color: #30822f;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    background: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  input[type="text"] {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .camera-popup {
    display: none;
    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1000;
  }
  .camera-popup video {
    width: 100%;
    height: auto;
  }
  .camera-popup canvas {
    width: 100%;
    height: auto;
    display: none;
  }
  .camera-popup button {
    margin-top: 10px;
    background-color: #28a745;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }